VIDMA_PORT=8080
VIDMA_DB_PATH=/data/vidma.db
VIDMA_LOG_LEVEL=info
TURN_HOST=turn.vidma.online
TURN_PORT=3478
TURN_TLS_PORT=5349
TURN_SECRET=REPLACE_WITH_LONG_RANDOM_STRING
LIVEKIT_URL=wss://vidma.online/rtc
LIVEKIT_API_KEY=REPLACE_ME
LIVEKIT_API_SECRET=REPLACE_WITH_LONG_RANDOM_STRING
